body,
textarea,
input {
    font: 13px "Trebuchet MS", sans-serif;
}

.chat{
    max-width: 300px;
}

.chat-messages,
.chat-textarea,
.chat-name{
    border: 1px solid #bbbbbb;
}
.chat-messages{
    width: 100%;
    height: 300px;
    overflow-y: scroll; 
 }

 .chat-message{
     margin-top: 10px;
 }

 .chat-name{
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 0;
 }

 .chat-textarea{
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 0;
 }

 .chat-status{
    color: #bbbbbb;
 }